<%= simple_form_for(@course) do |f| %>
    <%= f.input :code %>
    <%= f.input :name %>
    <%= f.input :year %>
    <%= f.input :semester %>
    <%= f.hidden_field :teacher_id, :value => current_teacher.id %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
