<h1><%= @course.name %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th># Questions</th>
      <th>Total Marks</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.name %></td>
        <td><%= exam.date %></td>
        <td><%= exam.tot_ques %></td>
        <td><%= exam.tot_marks %></td>
        <td><%= link_to 'Show', course_exam_path(@course, exam) %></td>
        <td><%= link_to 'Edit', edit_course_exam_path(@course, exam) %></td>
        <%# link_to 'Destroy', [@course, exam], method: :delete, data: { confirm: 'Are you sure?' }%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Exam', new_course_exam_path(@course) %>
