
<div class="row">

  <div class="well well-lg col-md-5">
    <p>
      <strong>Name:</strong>
      <%= @exam.name %>
    </p>
    <p>
      <strong>Date:</strong>
      <%= @exam.date %>
    </p>
    <p>
      <strong>No. of Questions:</strong>
      <%= @exam.tot_ques %>
    </p>
    <p>
      <strong>Marks:</strong>
      <%= @exam.tot_marks %>
    </p>
  </div>

  <% @questions.each do |question| %>
    <div class="well col-md-offset-1 col-md-6">
      <p>
        <strong><%= question.qname %> </strong>
      </p>
    </div>
  <% end %>

</div>

<%= link_to 'Edit', edit_course_exam_path(@course, @exam) %> |
<%= link_to 'Back', course_exams_path %>
