
<div class="row">

  <div class="well col-md-5">
    <p>
      <strong>Name:</strong>
      <%= @exam.name %>
    </p>
    <p>
      <strong>Date:</strong>
      <%= @exam.date %>
    </p>
    <p>
      <strong>No. of Questions:</strong>
      <%= @exam.tot_ques %>
    </p>
    <p>
      <strong>Marks:</strong>
      <%= @exam.tot_marks %>
    </p>
  </div>

<div class="col-md-offset-1 col-md-6">
  <% i = 1 %>
  <% @questions.each do |question| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= "Question #{i}" %></div>
      <div class="panel-body"><%= question.qname %> </div>
    </div>
  <% i = i+1 %>
  <% end %>
</div>


</div>

<%= link_to 'Edit', edit_course_exam_path(@course, @exam) %> |
<%= link_to 'Back', course_exams_path %> |
<%= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' }%>
