<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <% if teacher_signed_in? %>
    <%= nav_bar brand: "IITG Grader", brand_link: root_url do %>
      <%= menu_group do %>
        <%= menu_item "Courses", courses_url %>
      <% end %>
      <%= menu_group pull: :right do %>
        <%= menu_item "Sign Out!", destroy_teacher_session_path, method: :delete %>
      <% end %>
    <% end %>
  <% elsif %>
    <%= nav_bar brand: "IITG Grader", brand_link: root_url do %>
      <%= menu_group pull: :right do %>
        <%= menu_item "Login", new_teacher_session_path %>
      <% end %>
    <% end %>
  <% end %>
  <div class="container">
    <%= render "flashes" -%>
    <%= yield %>
  </div>
    <% console %>
</body>
<%= stylesheet_link_tag :application, media: "all" %>
<%= render "javascript" %>
</html>
